/* packages/react-any-carousel/src/react-any-carousel.css */

/* Ensure native smooth scrolling is NOT active */
html {
  scroll-behavior: auto;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.carousel-container {
  display: flex;
  overflow-x: auto;
  /* scroll-snap-type: x mandatory;
  scroll-behavior: smooth; */
  gap: 1rem;
  padding-inline: 1rem; /* 👈 side gutters */

  /* hide the scrollbar */
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.carousel-container > * {
  flex: 0 0 auto;
  scroll-snap-align: center;
}

.nav-button {
  position: absolute;
  z-index: 1;
}

.nav-button.left {
  left: 0.75rem;
}

.nav-button.right {
  right: 0.75rem;
  rotate: 180deg;
}
